/* 
    Document   : formbuilder
    Created on : Sep 27, 2013, 11:08:30 AM
    Author     : reppe
    Description:
        Purpose of the stylesheet follows.
*/
body {
    /*
    background-color: #E6E6E6;
    */
}

.sortable1, .sortable2 {
    font-size: 12pt;
    background-color: white;
    list-style-type: none; 
    margin: 0;
}

.sortable1 {
    padding: 0;
    float: left;
    width: 200px;
}

.sortable2 {
    border:1px solid #AAAAAA;
    min-height: 300px; 
    padding: 2.5em;
    margin-right: 10px; 
    width: 670px;
    height: 500px;
    overflow-y: scroll;
    overflow-x: visible;
}

.ui-accordion, .ui-accordion-content {
    padding: 0 !important;
}

#holder, #holderfiller {
    background-color: #F1F1F1;
    float: left;
    padding: 10px;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
}

#holder {
    width: 1000px;
}

#holderfiller {
    width: 755px;
}

#holder td, #holderinfo td, .ui-dialog td, .ui-dialog, #holder, #holderinfo, .sortable2 td {
    color: #555555; 
}

.sortable2 a {
    color: blue !important;
    text-decoration: underline !important;
}

#accordionHolder {
    float: left;
    width: 220px;
}

#contentHolder {
    float: left;
}


#accordion {
    margin-right: 5px;
}

#ajaxReload {
    height: 20px;
    width: 20px;
    left: 203px;
    top: 22px;
    float: right; 
    position: absolute;
    z-index: 100;
    background-image: url("#{resource['formbuilder/images/ajaxReload.gif']}");
    background-size: 20px 20px;
}

.ui-state-default li, .sortable1 li {
    margin: 2px; 
    padding: 5px; 
}

.sortable1 li {
    background-image: none !important;
    background-color: white !important;
}

.sortable1 li:hover {
    cursor: move;
}

.sortable2 li {
    margin: 2px 0px; 
    border: 1px solid #dadada;
    float: left;
}

.sortable2 li:hover {
    cursor: move;
    border: 1px solid #AAAAAA;
}

.sortable2 li:hover .icons {
    display: block;
}

.sortable2 li:hover .settings {
    display: block;
}

.sortable2 li:hover .delete {
    display: block;
}

.sortable2 li:hover .info {
    display: block;
}

.sortable2 li {
    background: none;
}

.ui-state-highlight {
    background-image: none;
    border: 1px solid black;
}

.ui-state-default, .ui-state-highlight {
    list-style-type: none; 
}

.ui-panelgrid-even {
    background-color: #F1F1F1;
    
}

.box-runde-ecken {
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
}

.icons {
    top: -5px; 
    float: left; 
    position: absolute;
    cursor: pointer;
    display: none;
}

.settings, .delete, .info {
    width: 16px; 
    height: 16px; 
    background-repeat: no-repeat;
    float: left; 
    display: none;
    margin-right: 2px;
}

.settings {
    background-image: url("#{resource['formbuilder/images/settings.png']}");
}

.delete {
    background-image: url("#{resource['formbuilder/images/delete.png']}");   
}

.info {
    background-image: url("#{resource['formbuilder/images/info.png']}");
}

.oddColumn, .oddColumn input, .oddColumn select, .oddColumn textarea {
    width: 100%;
}