/* 
    Document   : formbuilderiframe.css
    Created on : Feb 18, 2014, 11:35:27 AM
    Author     : Mathias Reppe <mathias.reppe@gmail.com>
    Description:
        Purpose of the stylesheet follows.
*/

#loadImg{
    z-index:999;
    position: fixed;
    top: 50%;
    left: 50%;
}

